@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-color {
    @apply border-gray-400;
  }
  :is(.dark .border-color) {
    @apply border-gray-700;
  }
}

@layer components {
  .container-box {
    @apply rounded-md p-2 border border-color bg-white;
  }
  :is(.dark .container-box) {
    @apply bg-gray-800;
  }
}

@layer components {
  .todo-item {
    @apply flex items-center justify-between gap-2 p-2 rounded-md bg-gray-200 border border-gray-400 cursor-pointer;
  }
  .todo-item:hover {
    @apply bg-gray-300;
  }
  :is(.dark .todo-item) {
    @apply bg-gray-700 border-gray-600;
  }
  :is(.dark .todo-item:hover) {
    @apply bg-slate-600;
  }
  .input-check {
    @apply hidden;
  }
  .todo-item:hover .input-check {
    /* display: none; */
    animation: inputShowAnimation 0.3s ease;
  }
  .input-check:checked + p {
    @apply line-through opacity-40;
  }
  @keyframes inputShowAnimation {
    0% {
      display: none;
    }
    100% {
      display: block;
    }
  }
}

@layer components {
  .hover-item:hover .hover-box {
    @apply visible opacity-100;
  }
}
